<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tag Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IdentityApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/selectize.bootstrap3.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
    <link rel="stylesheet" href="~/css/sidebars.css" />
    <style>
        .body {
            font-size: 14px;
        }

        .scrollable-container {
            padding: 0 10px;
            overflow-x: auto;
            overflow-y: auto;
            max-height: 500px;
        }

        .table {
            width: 100%;
            table-layout: auto;
        }

        .container {
            font-size: 14px;
        }

        .dropdown-toggle{
            background-color:green;
            font-size: 14px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style:italic;
            color:white;
        }

        .dropdown-item{
            font-size: 14px;
        }
    </style>
</head>
<body>
    <header>
        @await Component.InvokeAsync("NavigationMenu")
    </header>
    <div class="container mt-5" style="margin-left: 280px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/selectize.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/js/sidebars.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
