<table id="menuTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Display Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
