.fixed-top {
    width: 280px;
    z-index: 1000;
    background-color: #000 !important;
    color: #fff !important;
    height: 100%;
    overflow-y: auto;
    padding-top: 20px;
}

    .fixed-top a {
        color: #fff !important;
    }

.btn-toggle,
.btn-toggle-nav a {
    color: #fff !important;
    transition: color 0.3s ease; /* Add transition for color change */
}

    .btn-toggle:hover,
    .btn-toggle:focus,
    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
        color: #d2f4ea;
        background-color: #333;
    }

    .btn-toggle::before {
        fill: #d2f4ea;
        transition: transform 0.3s ease; /* Add transition for rotation */
    }

    /* Add animation when the button is clicked */
    .btn-toggle:active::before,
    .btn-toggle:focus::before {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

    /* Style the collapsed state of the menu buttons */
    .btn-toggle[aria-expanded="false"]::before {
        transform: rotate(0deg);
    }

    /* Style the expanded state of the menu buttons */
    .btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }


.btn-toggle-nav li {
    margin-left: 1.5rem; /* Adjust spacing for submenus */
}

.btn-toggle-nav a {
    color: #fff !important;
    display: block;
    padding: .1875rem .5rem;
    text-decoration: none;
}

    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
        background-color: #333;
        color: #d2f4ea;
    }