
<div class="container">
    <h2>Audit Logs</h2>
    <br />
    <p>View your Recent 250 Logs here</</p>

    <div style="height: 650px; overflow-y: auto;">
        <table id="auditTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User</th>
                    <th>Operation Type</th>
                    <th>Impacted Table</th>
                    <th>Operation Date</th>
                    <th>Old Values</th>
                    <th>New Values</th>
                    <th>Affected Columns</th>
                    <th>Affected Primary Key</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        var table;
        $(document).ready(function () {
            table = $('#auditTable').DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                ajax: {
                    url: '/Audit/GetList',
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (d) {
                        var customFilter = {
                            draw: d.draw,
                            start: d.start,
                            length: d.length
                        };
                        return JSON.stringify(customFilter);
                    },
                    dataSrc: 'data'
                },
                columns: [
                    { data: 'id', visible: false },
                    { data: 'userId' },
                    { data: 'type' },
                    { data: 'tableName' },
                    {
                        data: 'dateTime',
                        render: function (data) {
                            return moment(data).format('YYYY-MM-DD HH:mm:ss');
                        }
                    },
                    { data: 'oldValues' },
                    { data: 'newValues' },
                    { data: 'affectedColumns' },
                    { data: 'primaryKey', visible: false }
                ]
            });
        });
    </script>

}