@using IdentityApplication.Core.ViewModel
@model CreateCategorySubCategoryRequest
<div class="container">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-3" id="successMessage">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger mt-3" id="errorMessage">
            @TempData["ErrorMessage"]
        </div>
    }

    <form method="post" asp-controller="CategorySubCategoryMapping" asp-action="Create" id="subcategoryform">
        <div class="row">
            <div class="col-md-6">
                <label for="categorySearch">Category:</label>
                @Html.DropDownListFor(m => m.SelectedCategory, Model.Categories, "All", new { id = "categorySearch" })
            </div>
            <div class="col-md-6">
                <label for="subcategorySearch">Sub Category:</label>
                @Html.DropDownListFor(m => m.SelectedSubCategory, Model.SubCategories, "All", new { id = "subcategorySearch" })
                <input asp-for="SelectedSubCategoryId" type="hidden" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" id="save">Save</button>
                <button type="button" class="btn btn-success" id="update" onclick="updateRecord()">Update</button>
                <button type="button" id="search" class="btn btn-success">Search</button>
                <button type="button" id="reset" class="btn btn-success">Reset All</button>
            </div>
        </div>
        <br />
    </form>

    <hr class="my-4">

    <table id="subcategoryTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Category Id</th>
                <th>Sub Category Id</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Handle</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Delete", "CategorySubCategoryMapping", FormMethod.Post, new { id = "deleteConfirmationForm" }))
                {
                    <div class="modal-body">
                        <input type="hidden" id="mappingId" name="mappingId" />
                        <p>Are you sure you want to delete this record ?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-dark" value="Delete" />
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(document).ready(function () {

            $('select').selectize({
                sortField: 'text'
            });

            setTimeout(function () {
                $("#successMessage").fadeOut("slow");
                $("#errorMessage").fadeOut("slow");
            }, 3000);

            $('#update').hide();

            var table = $('#subcategoryTable').DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                ajax: {
                    url: '/CategorySubCategoryMapping/GetList',
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (d) {
                        var customFilter = {
                            draw: d.draw,
                            start: d.start,
                            length: d.length,
                            category: $('#categorySearch')[0].selectize.getValue(),
                            subcategory: $('#subcategorySearch')[0].selectize.getValue()
                        };
                        return JSON.stringify(customFilter);
                    },
                    dataSrc: 'data'
                },
                columns: [
                    { data: 'categoryId', visible: false },
                    { data: 'subCategoryId', visible: false },
                    { data: 'selectedCategory' },
                    { data: 'selectedSubCategory' },
                    {
                        data: 'subCategoryId',
                        render: function (data, type, row) {
                            return '<i class="fa fa-edit btn-edit" data-id="' + data + '"></i> ' +
                                '<i class="fa fa-trash btn-delete" data-id="' + data + '"></i>';
                        }
                    }
                ]
            });

            $('#search').on('click', function () {
                table.draw();
            });

            $('#subcategoryTable').on('click', '.btn-edit', function () {
                $('#save').hide();
                $('#update').show();

                var rowData = table.row($(this).parents('tr')).data();

                $('#SelectedSubCategoryId').val(rowData.subCategoryId);
                $('#categorySearch')[0].selectize.setValue(rowData.categoryId);
                $('#subcategorySearch')[0].selectize.setValue(rowData.subCategoryId);

                var subcategorySelectize = $('#subcategorySearch')[0].selectize;
                subcategorySelectize.disable();
            });

            $('#subcategoryTable').on('click', '.btn-delete', function () {
                var rowData = table.row($(this).parents('tr')).data();

                $('#mappingId').val(rowData.subCategoryId);
                $('#deleteConfirmationModal').modal('show');
            });

            $(document).on('click', '#reset', function () {
                $('#save').show();
                $('#update').hide();

                $('#categorySearch')[0].selectize.clear();
                $('#subcategorySearch')[0].selectize.clear();

                var subcategorySelectize = $('#subcategorySearch')[0].selectize;
                subcategorySelectize.enable();
                table.draw();
            });

            function updateRecord() {

                var form = document.getElementById('subcategoryform');

                form.action = '/CategorySubCategoryMapping/Update';

                // Submit the form
                form.submit();
            }
        });


    </script>
}